.center {
    margin: 0 auto;
    width: 15%;
    padding: 10px;
}

.center-div {
    margin: 5vh auto;
    width: 30%;
    border: 3px solid;
    padding: 10px;
}

.col {
    padding: 5px;
}

.textarea {
    width: 100%;
    min-height: 100px;
}

.section-split {
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black
}

.textarea {
    border-width: 2px;
}

.comparison-box {
    display: none;
}